@import './variables.scss';

@mixin flex ($justify: space-between, $align: center, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin container ($max-width: 1440px, $padding: 0 40px) {
    max-width: $max-width;
    box-sizing: border-box;
    padding: $padding;
}

//@mixin gradient ($color1: $primary-color, $color2: $primary-blue) {
//    background: linear-gradient(180deg, $color1 0%,$color2 100%);
//}

@mixin cursor-style ($cursor: pointer) {
    &:hover {
        cursor: $cursor;
    }
}

@mixin btn-rounded($padding: 3px 20px) {
    @include cursor-style;
    padding: $padding;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3;
    border-radius: 22px;
    border: none;
    color: #fff;
    transition: $transition;
}
