// 1. Colors
//-------------------------------------------------
$color-black: #000;
$color-grey: #333333;
$color-white: #FFFFFF;
$color-primary: #432344;
$color-secondary: #FFC03D;
$color-secondary-light: #FFCC65;
$color-error: #FF2525;

// Background
$background-white: #FFFFFF;
$background-section: #E7EEFB;

// 2. Typography
//-------------------------------------------------
$font-family: unquote('"Open Sans", system-ui, -apple-system, "Segoe UI", Arial, sans-serif');

// 3. Border
//-------------------------------------------------
$radius-card: 3px;
$radius-btn: 3px;

// 4. other
//-------------------------------------------------

$transition: 0.4s;
